{# -*- mode: web; coding: utf-8; -*-
Time-stamp: <2025-05-06 10:15:25 krylon>
/data/code/python/medusa/web/templates/intro.jinja
created on 06. 05. 2025
(c) 2025 Benjamin Walkenhorst
 #}

<h2>Here be <b><i>Intro</i></b></h2>

